* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
}


.container-box {
    display: flex;
    width: 700px;
    height: 400px;
    margin: 100px auto;
}

.box {
    width: 100%;
    height: 100%;
}

.box-title {
    font-size: 50px;
    font-weight: bold;
    padding: 20px;
    border-bottom: 5px solid teal;
}

.box-top img {
    width: 25px;
}

.box-text {
    padding: 20px;
    font-size: 25px;
    margin-top: 50px;
}

.fa-arrow-alt-circle-left, .fa-arrow-alt-circle-right {
    font-size: 50px;
    color: teal;
}



